doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title My Simple Blog
    link(rel="stylesheet", href="assets/css/tachyons.css")
  body.sans-serif.measure.center
    header
      h1.f1 My Simple Blog
    main
      block content
    footer
      p &copy; 2025 My Simple Blog
