doctype html
//- html.sans-serif.bg-black-90.white-80(lang="en")
html.dev-to-font-family.bg-black-90.white-80(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Jigar Gosar's Blog
    link(rel="stylesheet", href="/vendor/css/tachyons.css")
    link(rel="stylesheet", href="/assets/css/style.css")
  body
    a.header.w-100.tc.white-80.no-underline(href="/")
      h1.f1.fw1 Jigar Gosar's Blog2
    main.measure-wide.center.ph2
      block content
    footer.dn
      p &copy; 2025 Jigar Gosar's Blog
